.mat-toolbar {
  background-color: turquoise;
}

.title {
  font: bold;
  font-size: larger
}

.spacer {
  flex: 1 1 auto
}

.spacer2 {
  margin-right: 0.5em;
  display: inline-block
}

.smaller {
  font-size: smaller;
}
